/* Card */
.card-nft {
    user-select: none;
    width: 90%;
    max-width: 480px;
    text-align: center;
    padding: 45px 35px;
    /*margin: 5rem auto;*/
    border: 1px solid rgba(255, 255, 255, 0.3); /*#ffffff22*/
    background-color: rgba(112, 100, 233, 0.2); /*#35316f;*/
    background: linear-gradient(0deg, rgba(112, 100, 233, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); /*linear-gradient(0deg, #35316f 0%, rgba(17, 0, 32, 0.5) 100%);*/
    box-shadow: 0 7px 20px 5px rgba(112, 100, 233, 0.3);
    border-radius: 0.7rem;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    overflow: hidden;
    transition: 0.5s all;
    /*color: rgba(0, 0, 0, 0.7);*/
}

    .card-nft img {
        width: 75px;
    }

    .card-nft h2 {
        font-size: 35px;
        font-weight: 600;
        margin-top: 20px;
    }

    .card-nft p {
        font-size: 17px;
        margin: 5px auto;
        max-width: 330px;
    }

    .card-nft .links img {
        width: 40px;
        border-radius: 50px;
        margin: 10px 5px;
        transition: background 0.5s;
        cursor: pointer;
    }

        .card-nft .links img:hover {
            background: #ff01cf;
        }

    .card-nft .btn {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        background: #fff;
        color: #ff01cf;
        padding: 10px 30px;
        border-radius: 30px;
        margin: 30px 0 10px;
    }

    .card-nft .btn-gradient {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        background: linear-gradient(94deg, #dd00ac 10.66%, #7130c3 53.03%, #410093 96.34%, rgba(255, 0, 238, 0.26) 191.41%, rgba(255, 59, 212, 0) 191.43%);
        color: #fff;
        text-shadow: var(--shadow-light);
        padding: 10px 30px;
        border-radius: 30px;
        margin: 30px 0 10px;
        transition-duration: 300ms;
        transition: 0.4s;
        cursor: pointer;
    }

    .card-nft ::before {
        position: fixed;
        content: "";
        box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.3); /*#ffffff08*/
        top: -10%;
        left: -100%;
        transform: rotate(-45deg);
        height: 60rem;
        transition: 0.7s all;
    }

    .card-nft:hover {
        border: 1px solid rgba(255, 255, 255, 0.5); /*#ffffff44*/
        box-shadow: 0 7px 50px 10px rgba(112, 100, 233, 0.4); /*#000000aa*/
        transform: scale(1.05); /*scale(1.015);*/
        filter: brightness(1.3); /*brightness(1.3);*/
    }

        .card-nft:hover ::before {
            filter: brightness(0.5); /*brightness(0.5);*/
            top: -100%;
            left: 200%;
        }
