:root {
    --init-bg-color: transparent; /*#f9f9f9;*/
}

.chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*.image-container {
    flex: 1 1 40%;
    max-width: 40%;*/
    /*padding: 10px;*/
/*}

.text-container {
    flex: 1 1 55%;
    max-width: 55%;*/
    /*padding: 10px;*/
/*}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 4096px) {
    .image-container, .text-container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}*/



.markdown-content {
    font-family: Arial, sans-serif;
/*    line-height: 1.6;*/
    color: #333;
    background-color: var(--init-bg-color);
    /*padding: 20px;*/
    /*color: rgba(255, 255, 255, 1.0);*/
    text-decoration: none;
}

    .markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
        /*        color: #2a9d8f;*/
        color: var(--mud-palette-primary);
    }

    .markdown-content h1 {
        font-size: 2.0rem;
    }

    .markdown-content h2 {
        font-size: 1.8rem;
    }

    .markdown-content h3 {
        font-size: 1.6rem;
    }

    .markdown-content h4 {
        font-size: 1.4rem;
    }

    .markdown-content h5 {
        font-size: 1.3rem;
    }

    .markdown-content h6 {
        font-size: 1.2rem;
    }

        .markdown-content strong {
            font-weight: bold;
        }

    .markdown-content em {
        font-style: italic;
    }

    .markdown-content del {
        text-decoration: line-through;
    }

    .markdown-content blockquote {
/*        margin: 1em 0;*/
        padding: 0.5em 10px;
        border-left: 10px solid #ccc;
        background-color: var(--init-bg-color);
    }

    .markdown-content code {
        font-family: Consolas, 'Courier New', monospace;
/*        background-color: #f4f4f4;*/
        padding: 2px 4px;
        border-radius: 4px;
    }

    .markdown-content pre code {
        display: block;
        padding: 10px;
        /*        background-color: #f4f4f4;*/
        border: 1px solid #ddd;
        overflow-x: auto;
        text-align: left;
    }

    .markdown-content a {
        color: #007bff;
        text-decoration: none;
    }

        .markdown-content a:hover {
            text-decoration: underline;
        }

    /* Alapértelmezett gombstílus */
    .markdown-content button {
        border: 1px solid white;
        margin-top: 4px;
        margin-right: 4px;
        padding: 4px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px; /* Sarkok lekerekítése */
        transition: transform 0.2s, background-color 0.2s; /* Áttűnés animáció */
    }

        /* Hover állapot */
        .markdown-content button:hover {
            background-color: rgba(255, 255, 255, 0.2); /* Új háttérszín hover esetén */
            /*transform: translateY(-2px);*/ /* Felfelé mozdulás */
        }

    .markdown-content img {
        width: 50%; /* Fix szélesség */
        height: auto; /* Magasság automatikusan igazodik a szélességhez */
        aspect-ratio: 16 / 9; /* 16:9-es arány fenntartása */
        object-fit: contain; /* A teljes kép látható, de nem lesz levágva */
        cursor: pointer;
    }

    .markdown-content ul, .markdown-content ol {
/*        margin: 1em 0;*/
        padding-left: 2em;
        list-style-position: inside;
        list-style-type: decimal;
        /*list-style-type: upper-roman;*/
    }

        .markdown-content ul li, .markdown-content ol li {
/*            margin: 0.5em 0;*/
        }

    .markdown-content table {
        width: 100%;
        border-collapse: collapse;
/*        margin: 1em 0;*/
        background-color: var(--init-bg-color);
    }

        .markdown-content table th, .markdown-content table td {
            border: 1px solid #ddd;
            padding: 0.5em 1em;
            text-align: left;
        }

        .markdown-content table th {
            background-color: #2a9d8f;
            color: white;
        }

    .markdown-content hr {
        border: 0;
        height: 1px;
        background: #ccc;
        margin: 2em 0;
    }

    .markdown-content dl {
/*        margin: 1em 0;*/
    }

        .markdown-content dl dt {
            font-weight: bold;
        }

        .markdown-content dl dd {
            margin-left: 1em;
        }

    .markdown-content sup {
        vertical-align: super;
        font-size: smaller;
    }

    .markdown-content sub {
        vertical-align: sub;
        font-size: smaller;
    }

    .markdown-content .math {
        font-family: 'DejaVu Sans', 'Arial', sans-serif;
    }



    .markdown-content .markdown-center {
        text-align: center;
    }



