html, body * {
    /*scrollbar-color: #c4c4c4 transparent;
    scrollbar-width: thin;*/
    scrollbar-color: unset !important;
    scrollbar-width: none !important;
}

::-webkit-scrollbar {
    width: 1px !important;
    height: 1px !important;
}

::-webkit-scrollbar-thumb {
    /*background: rgba(255, 255, 255, 0.2) !important;*/
    background: transparent !important;
}

::-webkit-scrollbar-track {
    /*background: rgba(255, 255, 255, 0.2) !important;*/
    background: transparent !important;
}

.scrollable-content::-webkit-scrollbar * {
    background: transparent !important;
    /*manage scrollbar background color here*/
}

.scrollable-content::-webkit-scrollbar-thumb {
    /*background: rgba(255,0,0,0.1) !important;*/
    background: transparent !important;
    /*manage scrollbar thumb background color here*/
}



